<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main::header('Users', '/css/home.css')"></head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="fragments/main::menu"></nav>

            <div class="col-sm p-3 min-vh-100" >
                <div class="jibber-feed">
                    <div class="jibber-feed">
                        <div th:if="${#lists.isEmpty(users)}" class="content-container">
                            <div class="alert alert-warning">
                                <h3>No users yet - how are you even seeing this?</h3>
                            </div>
                        </div>
                        <div th:unless="${#lists.isEmpty(users)}" class="content-container">
                            <div class="profile-header"><h3>User list</h3></div>
                            <div th:each="user : ${users}" class="user-container mb-3 p-3 border bg-light"> <!--Loop throught all Jibbers-->
                                <div class="avatar-container">
                                    <img th:src="@{'http://www.gravatar.com/avatar/'} + ${tools.getMD5Hash(user.email)} + '?d=retro'" /> <!--Show users avatar (https://nl.gravatar.com/site/implement/images/)-->
                                </div>
                                <div class="jibber-user-name">
                                    <div class="jibber-header mb-2">
                                        <span th:text="${user.handle}" class="jibber-header-handle"></span> <!--Show Author handle-->
                                        <span class="jibber-user-role">(<span th:text="${user.role}" class="jibber-message"></span>)</span>
                                    </div>
                                    <div th:text="${user.email}" class="jibber-header-date"></div>
                                </div>
                                <div class="jibber-user-action" sec:authorize="hasAuthority('USER')">
                                    <form th:action="@{/user/follow}" th:if="${!activeUser.follows.contains(user)}" method="post" th:object="${user}">
                                        <input class="hidden" type="hidden" th:value="*{handle}" name="handle" />
                                        <input class="btn btn-primary float-end" type="submit" value="Follow" />
                                    </form>
                                    <form th:action="@{/user/unfollow}" th:if="${activeUser.follows.contains(user)}" method="post" th:object="${user}">
                                        <input class="hidden" type="hidden" th:value="*{handle}" name="handle" />
                                        <input class="btn btn-warning float-end" type="submit" value="Unfollow" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>