<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/login.css" rel="stylesheet">
    <title>JibberJabber - Login</title>
</head>
<body class="text-center">
    <main class="form-signin">
        <form action="#" th:action="@{/login}" method="post">
            <img class="mb-4" src="/img/logo.jpg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="alert alert-danger" th:if="${param.error}">
                Invalid username and password combination.
            </div>
            <div class="alert alert-success" th:if="${param.logout}">
                You've been successfully logged out.
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com/handle">
                <label for="username">Email address/handle</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">New to JibberJabber?</p>
            <p><a th:href="@{/register}">Create your account</a></p>
        </form>
    </main>
</body>
</html>