<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main::header('Login', '/css/login.css')"></head>
<body class="text-center">
    <main class="form-signin">
        <form action="#" th:action="@{/login}" method="post">
            <img class="mb-4" src="/img/logo.jpg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="alert alert-danger" th:if="${param.error}">
                Invalid username and password combination.
            </div>
            <div class="alert alert-success" th:if="${param.logout}">
                You've been successfully logged out.
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com/handle">
                <label for="username">Email address/handle</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">New to JibberJabber?</p>
            <p><a th:href="@{/register}">Create your account</a></p>
        </form>
    </main>
</body>
</html>