<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main::header('Jibbers', '/css/home.css')"></head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="fragments/main::menu"></nav>

            <div class="col-sm p-3 min-vh-100" >
                <div class="jibber-feed">
                    <div class="content-container">
                        <div class="jibber-form mb-3" sec:authorize="isAuthenticated()">
                            <form method="post" th:action="@{/jibber}" th:object="${jabber}">
                                <div class="form-info">
                                    <textarea class="form-control" rows="2" name="message"></textarea>
                                </div>
                                <div class="form-actions mt-1">
                                    <input type="submit" class="btn btn-primary float-end" value="Jibber" />
                                </div>
                            </form>
                        </div>
                        <div th:if="${#lists.isEmpty(jibbers)}">
                            <div class="alert alert-warning">
                                <h3>No Jibbers yet from @<span th:text="${handle}"></span></h3>
                            </div>
                        </div>
                        <div th:unless="${#lists.isEmpty(jibbers)}">
                            <div class="profile-header"><h3>Recent Jibbers from @<span th:text="${handle}"></span></h3></div>
                            <div th:each="jibber : ${jibbers}" class="jibber-container mb-3 p-3 border bg-light"> <!--Loop throught all Jibbers-->
                                <div class="avatar-container">
                                    <img th:src="@{'http://www.gravatar.com/avatar/'} + ${tools.getMD5Hash(jibber.user.email)} + '?d=retro'" /> <!--Show users avatar (https://nl.gravatar.com/site/implement/images/)-->
                                </div>
                                <div class="jibber-message">
                                    <div class="jibber-header mb-2">
                                        <b><span th:text="${jibber.user.handle}" class="jibber-header-handle"></span></b> <!--Show Author handle-->
                                        at
                                        <span th:text="${#dates.format(jibber.createdDate, 'dd-MM-yyyy HH:mm:ss')}" class="jibber-header-date"></span> <!--Show the date-->
                                    </div>
                                    <div th:text="${jibber.message}" class="jibber-message"></div> <!--Finally, show the Jibber message-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>